other/rareventure_GpxExtensionsV1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.rareventure.com/xmlschemas/GpxExtensions/v1" elementFormDefault="qualified" xmlns="http://www.rareventure.com/xmlschemas/GpxExtensions/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="TrackPointExtension" type="TrackPointExtension_t"/>

  <xsd:complexType name="TrackPointExtension_t">
    <xsd:sequence>
      <xsd:element name="new_time_zone" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
